<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980711445390-rhc8m9ve0f8llh9cqv3doathm3qvridf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980711445390-rhc8m9ve0f8llh9cqv3doathm3qvridf</string>
	<key>API_KEY</key>
	<string>AIzaSyBOmQKRZuhabVY7sV-lH7Yb3cxtMcIlaFE</string>
	<key>GCM_SENDER_ID</key>
	<string>980711445390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streetWorkout</string>
	<key>PROJECT_ID</key>
	<string>street-workout-project</string>
	<key>STORAGE_BUCKET</key>
	<string>street-workout-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980711445390:ios:d1deec6542a9c4a1c60adf</string>
</dict>
</plist>